
@import url("<link href="https://fonts.googleapis.com/css2?family=Alata&family=Arvo&family=Jura:wght@300,400,500,600,700,&family=Poiret+One&family=Ultra&display=swap" rel="stylesheet">");
body{
    font-family: Jura;
}











/* HARALD ZIJN GEDEELTE   

*/

/**
 */
 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url(../images/choosing-bg.jpg);
  color: white;
  font-size: 24px; 
  text-align:center ;
  
}
.overlay p {
  margin: 20px;
  
}

.specialcontainer {
  margin: 5px;
}
.specialcontainer .overlay {
  background-image:url(../images/choosing-bg.jpg);
}
.specialcontainer:hover .overlay{
  opacity: 1;
  
}
.specialcontainer p {
  font-size: 18px;
}
.specialcontainer h3 {
  font-size: 24px;
}

.main-button a {
  background-color: #f5a425;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding: 12px 20px;

  
  position: inherit;
}

 .owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
    .owl-carousel .owl-item:hover .overlay{
      opacity: 1;

    }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

  section.courses {
    background-image: url(../images/choosing-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #172238;
    padding-bottom: 100px;
    padding: 0px 30px 100px 30px;
}

section.courses .item img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

section.courses .item .down-content {
    padding: 30px;
    background-color: rgba(250,250,250,0.1);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

section.courses .item .down-content h4 {
    font-size: 24px;
    text-transform: uppercase;
    color: #f8f4f4;
    letter-spacing: 0.5px;
    font-weight: 700;
    margin: 15px;
    
}

section.courses .item .down-content p {
    font-size: 24px;
    text-transform: uppercase;
    color: #f8f4f4;
    letter-spacing: 0.5px;
    font-weight: 700;
    margin: 15px;
    
}

section.courses .item .down-content img {
  display: block;
  width: 200px ;
  height: 250px;
}

.section-heading {
  text-align: center;
  margin-bottom: 70px;
}

.section-heading h2:before {
  width: 1px;
  height: 100px;
  background-color: rgba(250,250,250,0.1);
  position: absolute;
  top: -102px;
  content: '';
  left: 50%;
  transform: translate(-50%);
}

.section-heading h2 {
  margin-top: 100px;
  position: relative;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 15px 20px;
  border: 2px solid rgba(250,250,250,0.1);
}


/* Why Choosing Us */

section.why-us {
  background-image: url(../images/choosing-bg.jpg);
  background-color: #172238;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

#tabs {
text-align: center;
}
#tabs ul {
margin: 0;
padding: 0;
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-gap: 0;
-moz-column-gap: 0;
column-gap: 0;
}
#tabs ul::after {
clear: both;
content: "";
display: table;
}
#tabs ul li {
display: block;
font-weight: 400;
font-size: 1.2em;
letter-spacing: 1px;
text-align: center;
margin-bottom: 30px;
color:white;
text-decoration: none;
text-transform: uppercase;
position: relative;
background-color: transparent;

 
}
#tabs ul li a {
display: block;
font-size: 13px;
font-weight: 700;
letter-spacing: 1px;
cursor: pointer;
outline: 0;
padding-bottom: 30px;
color:white;
text-decoration: none;
text-transform: uppercase;
position: relative;
background-color: transparent;

}
#tabs ul li a:after {
  transition: all 0.3s;
  width: 10px;
  height: 10px;
  background-color: #f5a425;;
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}
#tabs ul li a:before {
  transition: all 0.3s;
  width: 25px;
  height: 25px;
  border: 2px solid transparent;
  background-color: transparent;
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -5px;
}
#tabs ul li span {
display: block;
margin-bottom: 0.75em;
}
#tabs ul .ui-tabs-active {
}
#tabs ul .ui-tabs-active a {
color: #f5a425;
}
#tabs ul .ui-tabs-active a:after {
background-color: #f5a425;
width: 15px;
height: 15px;
}
#tabs ul .ui-tabs-active a:before {
border-color: #f5a425;
}
#tabs h4 {
  margin-top: 60px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 30px;
}

#tabs p {
  color:white;
  font-size: 20px;
  line-height: 28px;
}

#tabs b {
  color:#f5a425;
  font-size: 20px;
  line-height: 28px;
}

.tabs-content {
  margin-top: 60px;
  
  
}

.tabs-content img {
  padding-right: 0px;
  margin: 10%;
  height: 200px;
  width: 275px;
}

@media screen and (max-width: 767px) {

.tabs-content {
    text-align: center;
}

}

.tabs-content img {
  
  overflow: hidden;
  
  
}

@media screen and (max-width: 767px) {

.tabs-content img {
  overflow: hidden;
}

}



/* Coming Soon */

section.coming-soon {
  background-image: url(../images/choosing-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #172238;
  padding: 120px 0px;
}

section.coming-soon .continer .counter div {
display: inline-block;
}
section.coming-soon .continer h4 {
  margin-top: 100px;
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.5px;
  line-height: 40px;
  margin-bottom: 50px;
}
section.coming-soon .continer h4 em {
  font-style: normal;
  color: #f5a425;
}

@media screen and (max-width: 767px) {

section.coming-soon .continer h4 {
  text-align: center;
}

}

section.coming-soon .continer .counter .days,
section.coming-soon .continer .counter .hours,
section.coming-soon .continer .counter .minutes,
section.coming-soon .continer .counter .seconds {
width: 22%;
height: 140px;
float: left;
text-align: center;
font-size: 48px;
font-weight: 800;
letter-spacing: 1px;
color: #fff;
background-color: rgba(250,250,250,0.1);
}
@media screen and (max-width: 992px) {

section.coming-soon .continer .counter .days,
section.coming-soon .continer .counter .hours,
section.coming-soon .continer .counter .minutes,
section.coming-soon .continer .counter .seconds {
  font-size: 26px;
}

section.coming-soon .continer .counter .days .value,
section.coming-soon .continer .counter .hours .value,
section.coming-soon .continer .counter .minutes .value,
section.coming-soon .continer .counter .seconds .value {
    margin-top: 40px!important;
}

section.coming-soon .continer .counter span {
    font-size: 14px!important;
}

}
section.coming-soon .continer .counter .days,
section.coming-soon .continer .counter .hours,
section.coming-soon .continer .counter .minutes {
  margin-right: 4%;
}
section.coming-soon .continer .counter .days .value,
section.coming-soon .continer .counter .hours .value,
section.coming-soon .continer .counter .minutes .value,
section.coming-soon .continer .counter .seconds .value {
  margin-top: 15px;
  display: block;
  width: 100%;
}

section.coming-soon .continer .counter span {
  font-size: 18px;
  text-transform: uppercase;
  color: #f5a425;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 0px;
  display: block;
}

section.coming-soon .right-content {
  margin-left: 30px;
}

@media screen and (max-width: 767px) {

section.coming-soon .right-content {
    margin-top: 60px;
    margin-left: 0px;
}

}

section.coming-soon .top-content {
  margin-bottom: -8px;
}

section.coming-soon .top-content h6 {
  font-size: 20px;
  color: #fff;
  background-color: rgba(250,250,250,0.2);
  padding: 40px;
  text-align: center;
  line-height: 24px;
}

section.coming-soon .top-content h6 em {
  font-style: normal;
  font-weight: 600;
  color: #f5a425;
}

section.coming-soon form {
  background-color: rgba(250,250,250,0.1);
  padding: 60px 40px;
  width: 100%;
  text-align: center;
}

section.coming-soon form input {
  width: 100%;
  height: 40px;
  background-color: rgba(250,250,250,0.1);
  border-radius: 0px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 13px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

section.coming-soon form input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  color: #fff;
  background-color: rgba(250,250,250,0.1);
}

section.coming-soon form::placeholder { color: #fff }
section.coming-soon form input::placeholder { color: #fff; }
section.coming-soon form input::placeholder { color: #fff; }

section.coming-soon form button {
  margin-top: 10px;
  background-color: #f5a425;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding: 12px 20px;
  display: inline-block;
  outline: none;
  box-shadow: none;
  border: none;
}



/* GEDEELTE BART */
 
.main-banner .caption h2 {
  font-size: 550%;
  margin-top: 200px;
}
.main-banner .caption h5 {
  font-size: xx-large;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  text-align: right;
  margin-bottom: -125px;
  margin-right: -50px;
}
.main-banner .caption h5 strong {
  color: #f5a425;
}
.main-banner .caption h6 {
    font-size: xx-large;
    text-align: left;
    margin-top: -125px;
    margin-left: -50px;
}
.main-banner .caption h6 strong {
  color: #f5a425;
}
section.main-banner .main-button {
    margin-top: 350px;
}

section.about {
  font-size: x-large;
  background-image: url(../images/choosing-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  color: #fff;
}

section.about i {
  color: #f5a425;
  margin: 5px;
}

section.about h3 {
  margin-top: 65px;
  color: #f5a425;
  font-size: xx-large;
}

section.about p {
  margin-top: 20px;
  font-size: 20px;
}

section.about .main-button {
  margin-top: 60px;
}

section.about li {
  margin-top: 25px;
}

section.about .img-fluid {
  margin: 5px;
  padding: 5px;
}

section.about .column {
  width: 25%;
}

section.counter .wrapper {
  height: 350px;
  align-items: center;
  justify-content: center;
  background-image: url(../images/choosing-bg.jpg);
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 100px 60px;
  grid-gap: 50px;
}
section.counter .box {
  background-color: #0c1228;
  height: 110px;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  font-size: 150%;
}
section.counter strong {
  color: #f5a425;
  font-size: 200%;
}
